[2015-07-31 19:51] dsturley opened #2 "Update to use new default reporter"
Other components rely on the new format, this integration should be updated to use that new format.

[2015-07-31 19:51] dsturley opened #3 "writeResults should write entire results object, not violations"
We my want to add a new method for this to ensure backwards compatibility.

[2015-08-03 18:30] dmfay commented on #3
Fixed in #4

[2015-08-03 18:30] #3 closed

[2015-08-03 18:30] dmfay commented on #2
Fixed in #4

[2015-08-03 18:30] #2 closed

[2016-01-18 11:49] ershikhar opened #5 "Getting error on using the ExampleTest"
Hello ,

Please let me know if you can locate the issue.

I renamed ExampleTest and changed the url to google.com but the script is failing on the line-
JSONObject responseJSON = new AXE.Builder(driver, scriptUrl).analyze();

as you can see in the trace below -

java.lang.RuntimeException: java.lang.NullPointerException
    at com.deque.axe.AXE.getContents(AXE.java:53)
    at com.deque.axe.AXE.inj

[2016-09-15 05:02] dmhalejr opened #6 "Implement Marionette Driver in ExampleTest.java"
Hello All!

Mozilla has taken over development of the FirefoxDriver from Selenium and have started implementing Marionette starting around Firefox 46.0.

What that means is that users may start running into:

[code]

Unless implementing the GeckoDriver like so:
https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette/WebDriver

Wonderful accessibility tool I'm now leveraging! :clap:

Will be

[2017-03-16 12:22] bgoldowsky commented on #6
I can confirm that this does not run with current Firefox 52 on Mac.

An update to Selenium 3 would be nice, and perhaps to latest aXe version as well?

For the moment, I was able to get it to work by switching to ChromeDriver.

[2017-04-06 17:03] acodebreaker commented on #5
same here , anyone solved it ?

[2017-04-28 03:55] samwarwick opened #7 "StackOverflow exception after upgrading from axe-core 2.1.7 to 2.2.0"
Calls to AXE.Builder.analyze causes a StackOverflow exception on all but the very simplest of test scenarios.

To reproduce:
1. Update axe.min.js to the 2.2.0 release (NB: the latest axe-selenium-java release still uses 2.0.5 but 2.1.7 works fine too).
2. Modify ExampleTest.java to use www.deque.com instead of test-app.js and the ChromeDriver (Firefox not tested).
3. Run the testAccessibility() te

[2017-05-23 03:04] samwarwick commented on #7
This issue is resolved by using the latest axe-core 2.2.1 release, which has a fix for a circular references bug.

[2017-05-23 03:04] #7 closed

[2017-06-14 05:30] zodgevaibhav opened #8 "org.openqa.selenium.WebDriverException: syntax error"
Please find trace below,

org.openqa.selenium.WebDriverException: syntax error
Command duration or timeout: 2.19 seconds
Build info: version: '2.53.1', revision: 'a36b8b1cd5757287168e54b817830adce9b0158d', time: '2016-06-30 19:26:09'
System info: host: 'UserName', ip: '192.168.0.1', os.name: 'Windows 8.1', os.arch: 'x86', os.version: '6.3', java.version: '1.8.0_25'
Driver info: org.openqa.selenium

[2017-06-14 05:34] zodgevaibhav commented on #5
Please confirm once that axe.min.js file is kept at test\resource folder. I also faced this issues because I made typo in file name.

Let me know if it works :)

[2017-06-15 00:31] dylanb commented on #8
@zodgevaibhav Can you please provide some context so that the problem can be replicated?

[2017-08-28 20:56] sauravkumar05 opened #9 "axe update for java"
Hey guys - i see that the core is getting updated for javascript related projects but not for java. Is there any plan to update the java project which is this one .  I have been using axe for running report violations and i see difference in result when i run a plugin via chrome Vs via java code.

[2017-08-28 23:34] dylanb commented on #9
you can simply download the axe-core version from npmjs.org and oevrwrite the `axe.min.js` file in the resources folder

[2017-08-28 23:34] #9 closed

[2017-08-28 23:53] sauravkumar05 commented on #9
I did that but then also i was seeing some difference. So i had downloaded the axe-core@latest and i took the axe.min.js (aXe v2.3.1) and pasted as part of my resources.

If i run the axe plugin via chrome then i see 13 violations but if i run analyze on the same page via code then i see total number as 8 voilations
![image](https://user-images.githubusercontent.com/11820297/29798236-d2b4e9c2-8c29

[2017-08-29 00:40] sauravkumar05 commented on #9
In violations report  I see that the api rules is pointing to 2.0 but my min.js is 2.3. How can i make sure that i my app is using the 2.3 rules.

https://dequeuniversity.com/rules/axe/2.0/duplicate-id?application=axeAPI

[2017-08-29 00:57] sauravkumar05 commented on #9
In IT most of the issues are because of human error and this one was because of me. I was updating my framework code but wasnt updating the application code pom.xml with the latest version

[2017-08-29 17:00] dylanb commented on #9
@sauravkumar05 can we close this issue?

[2017-08-29 17:49] bgoldowsky commented on #9
It's already closed. I feel like a note in the README pointing to where the most recent axe.min.js can be found would be very helpful though, if the one bundled with this code is not going to be updated.

[2017-08-31 22:55] renatoi opened #10 "Allow option to skip iframe injection"
Hi,

Is it possible to add an option to skip the following line?
https://github.com/dequelabs/axe-selenium-java/blob/master/src/main/java/com/deque/axe/AXE.java#L72

The main reason is because this call is super slow. It's currently preventing me to use this in our CI pipeline because it's adding extra 30s for each page just to execute this line:

https://github.com/dequelabs/axe-selenium-java/blo

[2017-09-01 08:32] WilcoFiers commented on #10
Is it that line itself that's slowing this down, or are the frames taking this long to test?

[2017-09-05 17:33] renatoi commented on #10
I've confirmed that it's just this line that is taking too long to run, not sure why. Everything else, at the moment, seems to be working fine.

[2017-09-07 16:27] marcysutton commented on #8
We need more info about your test to be able to debug. Can you provide more details? Otherwise I'll close this issue since we can't act on it as-is.

[2017-09-08 13:32] WilcoFiers commented on #10
@renatoi That is quite strange indeed. Do you want to work on a pull request for this? If not we'll put it on our backlog, but it is a little long, fair warning ;).

[2017-10-02 21:10] longmatthewh opened #12 "document-title and html-has-lang"
Not sure if I'm doing something wrong here, but I'm seeing document-title and html-has-lang issues even though the lang attribute is set and the document has a title.

[2017-10-03 08:24] WilcoFiers commented on #12
Are there any frames on the page? Have a look at the selectors to see what element might have failed.

[2017-10-03 13:54] longmatthewh commented on #12
Thanks @WilcoFiers! There is an iframe on the page from Google Classroom. I'll disable these for now.

[2017-10-03 13:54] #12 closed

[2017-10-11 10:23] #10 closed

[2018-01-11 20:15] tejeshvi opened #13 "Can I Run only Rules for an accessibility standard? For eg: WCAG 2.0 Level A and exclude WCAG 2.0 Level AA. This is similar to using .runonly option of axe.configure in axe-core? How can I achieve this in the test I am running in ExampleTest.java here in axe-selenium-java? Thank you!"

[2018-01-11 20:31] dmfay commented on #13
Yes, you can set `runOnly` with the `options` builder method. Look at the readme and the [testAccessibilityWithOptions](https://github.com/dequelabs/axe-selenium-java/blob/master/src/test/java/com/deque/axe/ExampleTest.java#L98) example testcase for more.

[2018-01-11 20:31] #13 closed

[2018-01-11 20:32] dmfay commented on #5
Closing due to inactivity.

[2018-01-11 20:32] #5 closed

[2018-01-18 05:55] Manu22796 commented on #5
Any Solution for this ?? I also facing same problem ,

[2018-04-06 14:17] WilcoFiers opened #15 "Support axe-core 3.0"
As mentioned here: https://github.com/dequelabs/axe-core/issues/833

This project does not yet support axe-core 3.0.

[2018-04-11 20:18] rajudevjava commented on #15
@WilcoFiers I understand that axe-core 3.0 is not supported for axe-selenium-java, but, is there way to run axe 3.0 version using selenium-java automation?

[2018-04-12 20:12] marcysutton commented on #15
@rajudevjava there isn't yet. You could install a newer version than 2.0.5 (but still prior to 3.0, which had breaking API changes) by downloading it from a CDN: https://cdnjs.cloudflare.com/ajax/libs/axe-core/2.6.1/axe.js

[2018-04-17 18:15] rajudevjava commented on #15
@marcysutton Thanks for the information.
I know you were referring to axe.js file for v2.6.1 but, as we were using axe.min.js file in our project, I searched for this online as was able to get axe.min.js file from below link.
"https://www.cdnpkg.com/axe-core/file/axe.min.js/" . Also, the Axe.java file we are still using is from axe-selenium-java project.  Is there a Axe.java file for v2.6.1 ?

Als

[2018-04-17 21:03] marcysutton commented on #15
@rajudevjava That CDN should work fine, as long as you're using an older axe-core version (pre-3.0). axe-selenium-java was designed to allow you to swap out minor or patch axe-core versions but the API hasn't been updated to work yet with axe-core@3.0. You'll have to wait for the Java project to be updated, which is what this issue is about.

[2018-04-25 17:47] rajudevjava commented on #15
Can this request be prioritized as we have an urgent need to upgrade our project to aXe v3.0.0 . Thanks!

[2018-04-30 14:30] rajudevjava opened #16 "require is not defined"
Trying to combine this project with webdriverjs for aXe 3.0.0. I have selenium java project which navigates through web pages. After navigating to a page, I'm calling a js file named as test.js with AxeBuilder defined in it. I'm getting an error "require" is not defined in <eval> at line number 1". Is there a way to get this worked?

[2018-04-30 15:13] rajudevjava commented on #9
@sauravkumar05  Could you tell me the aXe version you're using currently for axe-selenium-java? I'm currently using v2.6.1. Is there anything greater that you're using?

[2018-05-24 04:42] swathi-prasad opened #17 "feature request: configurable timeout"
Hello, I am facing issues with accessibility using aXe for one of my webpages. Apparently the DOM for the webpage is too huge for the aXe tool to perform accessibility. My script is timing out after 30seconds. Is there any input limit set for the aXe tool? Please advise. #17

[2018-06-27 16:02] kavmaria commented on #15
Is it possible to downgrade to an older axe-core version 2.6.1?

[2018-07-23 13:38] DavidMacDonald commented on #15
I'd vote for support for Axe Core version 3.0 also.

[2018-08-20 13:36] pravato opened #18 "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.12.4:test"
I am not able to run the example in my environment, I get the following errors:

[code]

I have updated all the plugins, added some others, after consultations and it still does not work.

[2018-09-14 20:39] rajudevjava opened #19 "aXe selenium java v3.0.0 alpha.9 - TypeError: axe.run arguments are invalid"
Hello,

Upgraded aXe for selenium java version to 3.0.0 (axe.min.js , test-app.js and AXE.java). receiving below error during execution.
![capture](https://user-images.githubusercontent.com/11168455/45574065-b50ee180-b83c-11e8-9cc1-ba236bdaad5e.PNG)

[2018-09-25 08:23] mchoyal opened #20 "Violation does not captured for mobile simulator/devices"

[2018-09-25 12:49] WilcoFiers commented on #20
Please provide some details for this issue so we can reproduce it.

[2018-09-25 13:00] mchoyal commented on #20
I am running my tests using AXE lib, with Java/Selenium for desktop web, its capturing violations when I run my test on chrome browser on desktop machine. But when I tried to run similar tests on Android/iOS simulators using Appium/Selenium (After integrating AXE lib) than it does not capture the violations. Not sure if it support mobile simulators?

[2018-09-25 13:18] WilcoFiers commented on #20
Ahhh that makes sense. Axe is not build to test mobile apps, it is an HTML testing tool. The platforms are too different that a single testing tool can't do it. There are a few accessibility tools that test mobile that you can use. Deque, the company behind axe-core has one called Attest. It has different testing tools for HTML, iOS and Android. You can find information about it here:

- https://w

[2018-09-25 13:18] #20 closed

[2018-10-22 11:08] mchoyal opened #21 "Did not get all violations which are captured through chrome AXE plugin"
Dear Team,

I tried using axe-selenium-java lib to get all violations on my webpage, but it does not capture all violations, however those were captured in chrome AXE plugin.

How can we capture all violations using axe-selenium-java lib? For example: we got "Banner landmark must not be contained in another landmark" violation on chrome AXE plugin, but its ignored when I used axe-selenium-java lib

[2018-12-18 21:17] jazonmiller opened #22 "Unexpected token"
I'm running into an issue when attempting to use axe 2.1 with my selenium tests.  I've borrowed the code from the SetupTest.java class.  Any suggestions or examples you could share?

### **Code Snip:**
public class AccessibilityHandler {

  private static final URL scriptUrl = AccessibilityHandler.class.getResource("/axe.min.js");
  private static final Logger LOGGER = LoggerFactory.getLogger(Acce

[2019-01-15 18:15] Logan-Lim commented on #15
I am also interested in leveraging this project with axe-core 3.x

The current develop branch seems to function correctly with axe-core 3.1.2. Are there any remaining tasks in order to do a new release?

[2019-01-22 06:39] ghidalgo commented on #22
ran into this same issue.

[2019-02-07 16:07] stephenmathieson opened #26 "Handle errors coming from axe-core"
The injected JS snippets (below) do not handle the possible error coming from `axe-core`'s `run` method. Scripts in question:

- https://github.com/dequelabs/axe-selenium-java/blob/914a50693058c152891202d4fb9a764c8cbcf09b/src/main/java/com/deque/axe/AXE.java#L297-L300
- https://github.com/dequelabs/axe-selenium-java/blob/914a50693058c152891202d4fb9a764c8cbcf09b/src/main/java/com/deque/axe/AXE.java

[2019-02-07 16:08] stephenmathieson commented on #26
Note that this is a breaking change, so it should be done for the upcoming 3.0.0 release.

[2019-02-07 19:37] stephenmathieson commented on #19
I'm not able to reproduce this. Do you have any more details?

[2019-02-07 19:38] stephenmathieson commented on #18
Which assertion is failing? The provided stack trace doesn't quite explain the issue you're seeing.

[2019-02-07 19:39] stephenmathieson commented on #17
Adding a configurable timeout seems like a very reasonable feature to add. I'll look into this today.

[2019-02-07 19:44] stephenmathieson commented on #16
The develop branch now as axe v3 in it and we're not seeing this error. Closing for now.

Feel free to reopen with more details.

[2019-02-07 19:44] #16 closed

[2019-02-07 19:45] stephenmathieson commented on #6
Is this still an issue? We're using Selenium 3 and axe 3 now.

[2019-02-07 19:46] stephenmathieson commented on #21
This is likely due to conflicting axe-core versions. Closing for now.

Reopen if this is still a problem.

[2019-02-07 19:46] #21 closed

[2019-02-07 19:48] stephenmathieson commented on #22
Can you please provide more details? I'm not able to reproduce your issue.

[2019-02-08 14:27] #26 closed

[2019-02-08 14:29] #17 closed

[2019-02-08 16:51] #15 closed

[2019-02-08 16:54] stephenmathieson commented on #19
Closing for now. If you're still experiencing this problem, please feel free reopen with reproduction steps.

[2019-02-08 16:54] #19 closed

[2019-02-08 16:54] stephenmathieson commented on #6
Closing for now. If you're still experiencing this problem, please feel free reopen with reproduction steps.

[2019-02-08 16:54] #6 closed

[2019-02-08 16:55] stephenmathieson commented on #18
Closing for now. If you're still experiencing this problem, please feel free reopen with reproduction steps.

[2019-02-08 16:55] #18 closed

[2019-02-08 16:55] stephenmathieson commented on #22
Closing for now. If you're still experiencing this problem, please feel free reopen with reproduction steps.

[2019-02-08 16:55] #22 closed

[2019-03-04 20:14] dramu opened #32 "axe is not defined"
We are trying to integrated axe framework with existing Selenium Test cases. It is working perfectly but sometimes test cases are getting failed due to below error,

org.openqa.selenium.WebDriverException: javascript error: axe is not defined
JavaScript stack:
ReferenceError: axe is not defined
at eval (eval at executeAsyncScript (:457:5), <anonymous>:3:20)
at eval (eval at executeAsyncScript (:45

[2019-03-12 22:44] mohanraj-r opened #35 "org.openqa.selenium.WebDriverException: javascript error: axe.a11yCheck is not a function"
The `axe-selenium` version in Readme needs to be updated. I ended up using `2.0` and ran the error from 2.0 (Related issue: https://github.com/dequelabs/axe-core/issues/833) even though I was using the latest `axe-min.js`. Took me some effort to figure out what is happening

[code]

[2019-03-18 18:32] #35 closed

[2019-04-29 22:32] mohanraj-r opened #39 "Allow axe to run on just the page source instead of injecting into DOM"
Is it possible to run axe on a given page source html string instead of having to inject itself into the DOM? If this is possible, could it enable making WebDriver as an optional dependency e.g. have alternate `Builder()` APIs in which we pass in the HTML source instead of the webdriver?

[2019-05-01 02:38] mohanraj-r commented on #39
Noticing that `AXE.inject()` is a public static method that injects the axe-core js lib into the page using WebDriver `executeScript()`. What is the use case for this API outside/alongside `Builder`?
Because I see it is also being used by `Builder.analyze()` -> `Builder.execute()` -> `AXE.inject()`. But then its not checked if the axe script has already been injected - leading me to wonder about t

[2019-05-07 23:16] mohanraj-r opened #40 "allow analyze() to take in a list of WebElements"
[axe-core context](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#context-parameter) accepts "A NodeList such as returned by document.querySelectorAll."

When testing `axe.run()` manually in browser I found that it works with a list of HTMLElement references. But the selenium API allows analyzing only one WebElement at a time. When we want to analyze a list of WebElements, injecting

[2019-05-07 23:54] stephenmathieson commented on #40
Can't you use the include/exclude API instead?

[2019-05-08 00:04] mohanraj-r commented on #40
@stephenmathieson I tried to, but the include/exclude API uses CSS selectors and there seems to be no way to get the css selector from a selenium WebElement (apparently by design: https://stackoverflow.com/a/19843175, https://stackoverflow.com/a/31677984)

[2019-05-08 00:07] stephenmathieson commented on #40
Right, but how are you getting those elements to begin with?

[2019-05-08 00:10] mohanraj-r commented on #40
I am trying to integrate axe-selenium into a common test lib and how the elements are found is not under the lib's control - the tests can use any mechanism to find the elements.

[2019-05-10 02:56] mohanraj-r commented on #40
Thanks @stephenmathieson
Do you know how selenium's WebElement converts to dom's HTMLElement when control flows from selenium java to axe-core ? or how to test/debug the java to js data flow?

[2019-05-10 17:53] stephenmathieson commented on #40
What happens is:

1. The axe-core JavaScript code is injected into the Selenium page
1. We call `axe.run()`
1. We get back the JSON results from `axe.run()`
1. We wrap the JSON results with `org.json.JSONObject` and return it

So no, we do not convert from `WebElement` to `HTMLElement`.

[2019-05-29 16:11] ahpraveen opened #41 "Performance issue axe selenium 3.0"
I'm using axe selenium 3.0 I noticed accessibility code scan takes more time while inject. Almost I'm seeing 3-5min to complete the scan.
While debug noticed there is a significant time when complete the below line of code
AXE.inject(this.driver, this.script, this.skipFrames);

 Please advise.

[2019-06-21 11:58] riksmith opened #42 "Include / exclude is incorrectly passed to axe-core"
When I specify an "exclude" in the builder nothing seems to happen, the exclude is ignored.

I found this is caused by a flaw in the analyze() method. It incorrectly passes the include / exclude object as options param instead of context as stated in the axe-core docs.

Also it does not look like the case with only supplying excludes and no includes is properly handled. As per the axe-core docs I

[2019-06-28 10:49] PriyalakshmiNandan commented on #21
Hi Stephen,

  My Chrome add-on Axe extension gave me a different set of violations [V3.2.2] while Axe-selenium plugin have logged different set of violations [V 3.0] & I do find the Axe-selenium does not have dependency on Axe-core plugin. can you guide how make both log similar set of Violations? Does both Chrome Extension-Axe-V 3.2.2 and Axe-Selenium-V 3.0 points to same version of Axe-core?

R

[2019-07-16 11:30] stasek commented on #42
As well as not working properly a few include

[2019-10-26 16:34] dastewa commented on #32
Any updates on this? Running into the same error.

[2020-02-06 19:19] Els-Sajuti opened #56 "Using axe in existing test cases"
Im not able to use axe with existing test cases, what dependencies do i need to use AXE? i have:
 <groupId>com.deque</groupId>
  <artifactId>axe-selenium</artifactId>
  <version>3.0</version>
  <scope>test</scope>

and the axe.js file under my test. but im not able to get violations from all my pages. what do i need to do?

[2020-02-06 19:21] #56 closed

[2020-02-06 20:43] Sajutii1994 opened #57 "Help running axe in existing java/selenium test"
im trying to run axe in existing java selenium test to get violations. Im using this dependency:
<dependency>
  <groupId>com.deque</groupId>
  <artifactId>axe-selenium</artifactId>
  <version>3.0</version>
  <scope>test</scope>
</dependency>
and im also using the axe.js under my test but what do i need to analyze multipule pages in one test?

[2020-02-19 03:53] dythebs commented on #39
I'm also looking for ways to test HTML string directly, now I use `((RemoteWebDriver) driver).executeScript("document.write(arguments[0]);", html);`

[2020-03-05 20:45] sirishav opened #59 "Tests fail when trying to run on remote browsers."
Expectation: Should be able to run the tests on remote browsers. We use a cross browser testing tool called Lambdatest(browsers on cloud server) and we want to configure the tests integrated with axe to be run on the tool.
Actual: The tests fail with below error
**org.openqa.selenium.remote.UnreachableBrowserException: Error communicating with the remote browser. It may have died.**
Build info: ve

[2020-04-17 14:55] stephenmathieson opened #67 "Setup snapshot releases (via CircleCI)"
All `develop` commits should result in a `-SNAPSHOT` release being published now that we have the ability to deploy from CI.

[2020-05-12 20:39] mohanraj-r opened #68 "Question: Why has this project been renamed ?"
Why has this project been renamed from `axe-selenium-java` to `axe-core-maven-html`

Why is there a new project https://github.com/dequelabs/axe-selenium-java?
  - It doesn't have any history. Seems to be essentially a clone of this project with few modifications
  - It doesn't have a `develop` branch
  - It doesn't have github `Issues` enabled

[2020-05-18 20:45] TroyWalshProf commented on #68
Note*  If this is actually moving the URL for the package really needs to be updated:
https://github.com/dequelabs/axe-core-maven-html/blob/96a6d3ff0f2be7403494de7fcb2d9dd9396770ef/pom.xml#L15
@WilcoFiers

[2020-06-01 08:59] WilcoFiers commented on #68
Apologies for the slow response. I missed this issue. We are in the process of updating all of our axe packages to have greater consistency between them. This is part of a larger rebranding project that Deque is doing: https://www.deque.com/blog/deque-unifies-accessibility-software-under-axe/

[2020-06-01 08:59] #68 closed

[2020-07-07 14:04] AdnoC commented on #67
Snapshots are accessible by adding the following to pom.xml:

Add this anywhere within `<project>`

[code]

Change the version of `com.deque.axe-core:selenium` to have the prefix `-SNAPSHOT`

[code]

[2020-07-22 11:07] padmavemulapati commented on #67
Seeing the `-SNAPSHOT` published in the registry. Tested for selenium and cucumber tests, working fine.

[2020-07-22 20:56] jeankaplansky commented on #67
DevStuff - no user-facing docs req'd.

[2020-07-22 20:56] #67 closed

[2020-08-05 13:37] WilcoFiers opened #83 "Include axe-core by default"
This package should be able to run with a default version of axe-core, which needs to be in sync with the axe-core version. i.e. if it is on version axe-core-selenium 4.1, that will have axe-core version 4.1 as a default. You should still be able to pass a source for different versions of axe-core.

[2020-08-05 13:44] WilcoFiers opened #84 "Allow sandboxed iframe testing"
We need to be able to test iframes with the sandbox attribute:

[code]

We have a solution for this in axe-webdriverjs that we can copy here.

[2020-08-13 14:36] AdnoC commented on #84
Added a `withoutIframeSandboxes` method to the `AxeBuilder` class that enables this behavior.

[2020-08-19 12:10] padmavemulapati commented on #84
skip frames test verified in axe-core-maven-html and its passing.

[2020-08-24 06:30] padmavemulapati commented on #83
Verified on part of axe-core-maven-html QAing

[2020-09-15 13:31] jeeyyy commented on #40
PR in place. Closing this issue.

[2020-09-15 13:31] #40 closed

[2020-09-15 13:33] jeeyyy commented on #42
Fixed. Closing issue.

[2020-09-15 13:33] #42 closed

[2020-09-15 18:47] AdnoC commented on #57
To analyze multiple pages in a single test you have to analyze each individual page. We don't provide any batch analyzing capabilities.

[2020-09-16 15:59] jeeyyy commented on #57
@Sajutii1994 this axe integration only allows to analyze one page at a time.

[2020-09-16 16:09] jeeyyy commented on #57
@Sajutii1994 I will close the issue given the above comment. Please feel free to open it if further discussion is necessary.

[2020-09-16 16:09] #57 closed

[2020-09-22 19:50] straker commented on #84
No docs required

[2020-09-22 19:50] #84 closed

[2020-09-22 19:57] straker commented on #83
No docs required

[2020-09-22 19:57] #83 closed

[2020-09-29 14:15] AdnoC commented on #41
I can't get it to take nearly that long. What site were you testing? Is the issue fixed if you use the 4.0 release?

[2020-09-29 14:37] AdnoC commented on #32
The only way I can reproduce your error is if I pass an improper axe-core source code (e.g. a blank file). Can you ensure that you are passing axe-core correctly? If you update to 4.0 axe-core source code is automatically included.

[2020-10-12 10:07] LakshmiNagandla opened #101 "Getting Error while calling analyze method java.lang.RuntimeException: Error when removing sandbox from iframes in Selenium with java"
Software dependency versions used:

com.deque.html.axe-core : 4.0.0

Calling methods:

When we call the method : Results result = builder.withoutIframeSandboxes().analyze(driver)

and

Results result = builder.analyze(driver)

Error that we are getting:

"java.lang.RuntimeException: Error when removing sandbox from iframes"

Note: For few of the other applications, the Analyzer method is working a

[2020-10-12 19:39] jonreding2010 opened #103 "AxeReporter: Write results as an HTML file"
It would be handy for the Axe scan to be able to be configured to an HTML doc.
Having the html doc would be easier for developers to use.
The Axe C# equivalent has this functionality: https://github.com/TroyWalshProf/SeleniumAxeDotnet/blob/master/Selenium.Axe/Selenium.Axe/HtmlReport.cs

[2020-10-13 20:22] jonreding2010 commented on #103
I have begun work on this but having issues getting the unit tests to work.
If I can get some assistance to get the unit tests working I'll be able to finish up and submit the code.

Right now I get this error: "The path to the driver executable must be set by the webdriver.chrome.driver system property"

[2020-10-20 15:49] jeeyyy commented on #32
Closing this issue as we have not heard back. Feel free to open it.

[2020-10-20 15:49] #32 closed

[2020-10-20 15:50] jeeyyy commented on #41
Closing due to inactivity. Please feel free to open it.

[2020-10-20 15:50] #41 closed

[2020-10-22 06:40] rshidling commented on #41
I am also facing the same issue for few of our internal app in on our organization and take close 2 minutes for each page scan. However, when I run for public sites like https://www.amazon.com/, it scan in 5-10 seconds. Not sure why its taking long for our internal apps. The below is the code snippet I am using.

[code]

I am using axe-core html  4.0.0

[code]

Any help around this would be highly

[2020-10-27 16:02] rshidling commented on #41
@AdnoC @jeeyyy

Can you guys please help me understand if there is something I need to update in the code make scans faster?

[2020-11-02 22:07] ofoxborn opened #109 "Versions and Releases"
Hello!
We are currently using **axe-selenium version 3.0.**
We saw that you have other versions available, including 3.1-Snapshot and 4.0  in github. Are these a replacement or we can continue using 3.0? Do you suggest we continue using 3.0 or start using newer versions? If we must switch, which maven repository actively has these dependencies?

Also, does the axe-min.js file and other js files we

[2020-11-17 04:56] rshidling commented on #41
Ok, the reason it was taking more time to scan the pages for us was due to the reason of implicit wait time set to minute in our framework and internally axe-core-mvn-html was looping through the frames and looking for child frames using findelements. We reduced implicit wait and it started scanning pages faster.

[2020-11-17 16:37] jeeyyy commented on #59
@sirishav based on your logs above, it looks like a setup issue on your end.
Closing this, please feel free to open with code snippet, if necessary. Thank you.

[2020-11-17 16:37] #59 closed

[2020-11-17 16:39] jeeyyy commented on #41
Cool. Thanks for the update @rshidling

[2020-11-17 16:40] jeeyyy commented on #39
@mohanraj-r would appreciate if you update to 4.0 axe-core-maven-html & let us know if this is still an issue.

Please reopen if you stumble upon the issue again. Thank you.

[2020-11-17 16:40] #39 closed

[2020-11-19 16:05] tsharma-indeed opened #111 "AxeReporter is not appending nodes in axe results"
https://github.com/tsharma-indeed/axe-core-maven-html/blob/develop/src/main/java/com/deque/html/axecore/selenium/AxeReporter.java#L160

The below line has an issue. This if statement will never get executed and hence, nodes willl not get appended to the axe results
 `if (element.getNodes() != null && element.getNodes().isEmpty())`

**Fix:** `!element.getNodes().isEmpty()` Not (!) should be added t

[2020-11-19 19:43] jeeyyy opened #113 "Run vulnerability reports as a scheduled job"
Recently added - https://github.com/dequelabs/axe-core-maven-html/pull/112/files#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8R24

This should run once a week and report

[2020-11-23 14:45] padmavemulapati opened #115 ""No elements found for include in page context " error appearing when `include` having multiple web elements"
Steps to reproduce:
on axe-core-maven-html: when tested for include method on multiple web elements
`AxeBuilder().include(Arrays.asList("div", "h1")).analyze(webDriver);`
results are blank. and giving "No elements found for include in page context"
![image (15)](https://user-images.githubusercontent.com/47409579/99975698-961b1b00-2dc8-11eb-937a-7e2963d4064b.png)

[2020-11-24 14:21] AdnoC commented on #115
In oder to include multiple elements you call `include` multiple times with each individual selector. `include` takes a list of selectors solely to select elements inside `iframe`s.

[2020-11-24 14:21] #115 closed

[2020-11-24 15:05] padmavemulapati commented on #115
Discussed with Adam,
with the change in the test code snippet:
` Results result = new AxeBuilder().include(Arrays.asList("div")).include(Arrays.asList("h1")).analyze(webDriver);` instead
`AxeBuilder().include(Arrays.asList("div", "h1")).analyze(webDriver);`
its giving the expected results.

[2020-12-04 19:56] jonreding2010 commented on #103
@jeeyyy look into #118 if you want.
I'm finishing up my unit tests but if you wish to assist please do.

[2020-12-05 06:43] jonreding2010 commented on #103
@jeeyyy I've updated my PR and added unit tests. There are currently 2 TODOs that I have commented on in the PR.
Let me know if you have any questions or feedback

[2020-12-10 13:49] jeeyyy opened #119 "The metadata for home page etc (urls) are wrong in maven repo"
https://search.maven.org/artifact/com.deque.html.axe-core/selenium

[2020-12-11 18:18] AdnoC commented on #101
Hi @LakshmiNagandla. I'm trying to reproduce your issue and having trouble. Can you check if this is still an issue? If it is, can you tell me the URL you are trying to test? The exception you are getting is due to the javascript we use to remove sanboxes throwing an error. We are wrapping the underlying exception in a RuntimeException, so the root cause should still be shown in the stack trace. C

[2020-12-11 18:32] AdnoC commented on #109
You can continue to use 3.0 if you want. You should be able to upgrade to 3.1 without any difficulties. The 4.x line has breaking changes, so you would need to change your test code.

You should be able to use any newer version of axe-core in your code.

We publish to [`com.deque.html.axe-core:selenium`](https://search.maven.org/artifact/com.deque.html.axe-core/selenium).

Benefits of upgrading to

[2020-12-11 18:32] #109 closed

[2020-12-14 17:22] jonreding2010 opened #122 "AxeReporter: Select any of the reports to be in the HTML reporter"
User should be able to select from any of the four ResultTypes to be in the report.
For instance, if I want the violations, passes, and Inapplicable in my report, they should be included in the report html.
This means that in this case the Incompletes will not be in the reports.

[2020-12-15 20:01] jonreding2010 commented on #122
PR #123 deals with this issue

[2020-12-29 17:29] bourne23 commented on #109
Thank you for your response.
We tried upgrading to version 3.1, but couldn't find it anywhere. Can you please point us to the correct repository?

[2020-12-30 17:30] ofoxborn opened #130 "You can continue to use 3.0 if you want. You should be able to upgrade to 3.1 without any difficulties. The 4.x line has breaking changes, so you would need to change your test code."
You can continue to use 3.0 if you want. You should be able to upgrade to 3.1 without any difficulties. The 4.x line has breaking changes, so you would need to change your test code.

You should be able to use any newer version of axe-core in your code.

We publish to [`com.deque.html.axe-core:selenium`](https://search.maven.org/artifact/com.deque.html.axe-core/selenium).

Benefits of upgrading to

[2020-12-30 17:43] #130 closed

[2020-12-30 17:44] ofoxborn opened #131 "Upgrading to 3.1"
Hello,

We want to upgrade to version 3.1 . We understand that it has been moved to [axe-core-maven-html].
We cannot find the deployed jar in maven repos. Can you please let us know where to get it from?

We searched for a dependency to look like this:

`<dependency>
    <groupId>com.deque.html.axe-core</groupId>
    <artifactId>selenium</artifactId>
    <version>3.1</version>
    <scope>test</sco

[2021-01-04 14:40] padmavemulapati commented on #111
@SantoshDeque , please take care of this ticket

[2021-01-04 19:34] AdnoC commented on #131
It looks like we never published 3.1. Are you willing to update to 4.0?

[2021-01-05 18:09] ofoxborn commented on #131
Yes, we are willing to update, but at a later time, not yet.
We'd rather upgrade to 3.1 if possible, since its a smaller upgrade.

[2021-01-05 22:31] #103 closed

[2021-01-05 22:31] #122 closed

[2021-01-06 15:06] jeeyyy commented on #101
@LakshmiNagandla closing this issue. Please feel free to re-open if necessary.

[2021-01-06 15:06] #101 closed

[2021-01-08 14:53] padmavemulapati commented on #111
Seeing some issue here -
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  1.908 s
[INFO] Finished at: 2021-01-08T19:04:33+05:30
[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal org.apach

[2021-01-13 18:57] Steady5063 opened #133 "Bundled Dependencies currently getting hamcrest mismatch error"
Currently when using our bundled java dependencies in a project, when running test command we get the following error:

java.lang.NoSuchMethodError: org.hamcrest.Matcher.describeMismatch(Ljava/lang/Object;Lorg/hamcrest/Description;)V
    at org.hamcrest.MatcherAssert.assertThat(MatcherAssert.java:18)
    at org.hamcrest.MatcherAssert.assertThat(MatcherAssert.java:8)

The test cases run and the res

[2021-01-14 21:15] AdnoC commented on #133
So it turns out that when creating a fat jar, the maven assembly plugin includes test dependencies. It is likely that the hamcrest bundled in the selenium jar is causing the issue. A fix will be included in 4.1.3.

Until then, if you can make do with what is bundled, there is `junit:junit:4.13.1` and `org.hamcrest:hamcrest-core:jar:1.3`

[2021-01-18 13:28] SantoshDeque commented on #111
Verified in latest develop branch and issue is fixed now.

[2021-01-19 16:39] #111 closed

[2021-01-19 16:40] jeeyyy commented on #133
@SantoshDeque and @padmavemulapati plz pick this up

[2021-01-22 16:32] jeeyyy commented on #131
@ofoxborn it looks like the release for [v3.1](https://github.com/dequelabs/axe-core-maven-html/releases/tag/v3.1.0) did not make it to maven central.

Are you able to install from the tag/ release above, until you make a decision to update to 4.0 (which is in Maven repository.

Feel free to open this issue, if you are unable to install from the above tag/ release.

[2021-01-22 16:32] #131 closed

[2021-01-25 10:58] SantoshDeque commented on #133
Verified  with both old(selenium-4.1.2-jar-with-dependencies.jar) and new(selenium-4.1.2-SNAPSHOT-jar-with-dependencies.jar) dated(2021-01-19) bundled jars and below are the observations
1)With old jars and with/without including 'JUnit' dependency in pom.xml file it is giving the error "java.lang.NoSuchMethodError: 'void org.hamcrest.Matcher.describeMismatch(java.lang.Object, org.hamcrest.Descrip

[2021-01-25 11:10] SantoshDeque commented on #119
The urls for Home page and Source code are pointing to deprecated urls
Home page: https://github.com/dequelabs/axe-selenium-java
Source code https://github.com/dequelabs/axe-selenium-java

Shouldn't they be pointing to below urls?
Home page: https://github.com/dequelabs/axe-core-maven-html
Source Code: https://github.com/dequelabs/axe-core-maven-html

@AdnoC , could you please confirm

[2021-01-28 21:21] AdnoC commented on #119
That is correct. However it won't update until we do a new release.

[2021-02-19 13:14] sachinArya opened #137 "Getting Runtime Exception when axe is analyzing for issues in selenium java"
**Selenium** - 3.141.0

**Axe Maven dependency**
        <dependency>
            <groupId>com.deque.html.axe-core</groupId>
            <artifactId>selenium</artifactId>
            <version>4.1.1</version>
        </dependency>
**Exception** - java.lang.RuntimeException: Unable to inject axe script

	at com.deque.html.axecore.selenium.AxeBuilder.analyzeRawContext(AxeBuilder.java:436)
	at com.deq

[2021-02-24 12:04] petja-laitila opened #142 "Help URL is not URL pointing to help in AxeReporter"
Line 153 in AxeReporter.java

[2021-03-02 15:52] kishkk84 commented on #142
Line 153 in AxeReporter.java has `element.getHelp` instead of  `element.getHelpUrl()`. This needs to be corrected.

[2021-03-05 11:54] kishkk84 commented on #103
Hey @jonreding2010 How did you fix the "path to the driver executable" error? Please share the resolution.
Thanks
Kishore

[2021-03-05 12:23] kishkk84 commented on #142
I raised a PR to fix this [#144](https://github.com/dequelabs/axe-core-maven-html/pull/144)

[2021-03-05 13:43] SantoshDeque commented on #119
Now the home page and source code urls are pointing correctly for latest version(4.1.2)
Home page: https://github.com/dequelabs/axe-core-maven-html
Source Code: https://github.com/dequelabs/axe-core-maven-html

@AdnoC , could you please confirm if these urls should be updated for older versions(for ex: 4.1.1) also?

[2021-03-19 16:20] SantoshDeque commented on #119
Discussed with @AdnoC, changes seems to be applied only to 4.1.2

[2021-04-08 16:12] indefinitelee opened #149 "Setting image-alt rule false suppreses other rules violations"
When I run axe with image-alt rule to false, the check passes
[code]

However if I run the check as normal,  (without disabling the rule) then the check fails but finds issues that seem unrelated to the image-alt rule.
These are valid issues but they don't come up when image-alt rule is false.
[code]
I can't share any code due to corporate policy but if there is a way to enable some kind of debug

[2021-04-27 13:51] #119 closed

[2021-05-03 11:43] michael-siek opened #156 "Release v4.2"
When upgrading to use axe-core@4.2 we will need to add the ability to configure [frame origin](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#allowedorigins)

[2021-05-19 13:24] SantoshDeque commented on #142
Verified in latest develop branch and changes are working fine.
![Screenshot (315)](https://user-images.githubusercontent.com/45222788/118820083-9279d400-b8d3-11eb-9e9b-1ffd25685441.png)

[2021-05-24 08:09] padmavemulapati commented on #156
QAed and given sign-off with 4.2.0 and 4.2.1

[2021-05-24 13:20] SantoshDeque commented on #149
Verified below scenarios in release branch(release-2021-05-19)
i)setting image-alt rule to false :  All violations other than image-alt rule are shown
[testAccessibilityWithOptions2.txt](https://github.com/dequelabs/axe-core-maven-html/files/6532584/testAccessibilityWithOptions2.txt)

ii)setting image-alt rule to true:  All violations including image-alt rule are shown
[testAccessibilityWithOption

[2021-06-15 14:52] michael-siek commented on #156
closing no docs required

[2021-06-15 14:52] #156 closed

[2021-06-15 14:52] michael-siek commented on #142
closing no docs required

[2021-06-15 14:52] #142 closed

[2021-07-21 15:37] amandv opened #170 "java.lang.RuntimeException: Error when enabling iframe communication"
Getting below error while injecting axe-core script on page.

java.lang.RuntimeException: Error when enabling iframe communication
   [testng] 	at com.deque.html.axecore.selenium.AxeBuilder.analyzeRawContext(AxeBuilder.java:457)
   [testng] 	at com.deque.html.axecore.selenium.AxeBuilder.analyze(AxeBuilder.java:404)

[2021-07-28 07:07] varivoda opened #171 "New release 4.3.2"
Hi guys! Thank you for you work first of all, your tool really helps us.

Do you have any plans for new releases of axe-core-maven-html to maven central? In my company we need to use the latest version.

Thanks)

[2021-08-09 12:07] michael-siek opened #172 "chore: upgrade to use `axe-core@4.3.2`"
Expectation: upgrade to use axe-core@4.3.2 and axe-core#runPartial()

Actual: currently uses `axe-core@4.2.x`

[2021-08-18 14:30] varivoda commented on #172
@michael-siek Hi!

Could you please clarify, what are we waiting for here and can I help with this deploying of new version somehow?

[2021-08-18 14:48] tsharma-indeed commented on #172
@AdnoC Appreciate if we can upgrade this library asap. It's been 22 days when the new version had launched!

[2021-08-20 10:42] varivoda commented on #172
@nloding @AdnoC Hi there!

Do you have any ETA according to this issue? I'm trying to understand how should I plan the sprint in my team)

Thank you!

[2021-08-23 17:24] tsharma-indeed commented on #172
@michael-siek @AdnoC @nloding Guys any update on this!

[2021-08-23 17:34] AdnoC commented on #172
Hi! We've got a lot of integrations and updating each takes time. In this release of axe-core specifically we took time to ensure the use of `axe.runPartial` and `axe.finishRun` were correct and guaranteed the cross-domain isolation those functions were intended for.

We're just getting to Java. Should be soon.

[2021-08-31 21:34] straker opened #174 "4.3.3 audit"
* [x] Implements recursive runPartial
  * [x] injects and configures axe on each frame (exception: top-level iframe since axe might already be injected there from testing legacy code path)
  * [x] calls `axe.utils.getFrameContexts` on each frame
  * [x] runs `axe.runPartial` on each frame
  * [x] finds each iframe using `axe.utils.shadowSelect`
  * [x] calls function again with new iframe and cont

[2021-09-02 15:47] AdnoC commented on #172
@varivoda @tsharma-indeed Just wanted to ping you to inform you that axe-core@4.3.3 has been merged.

[2021-09-02 16:07] tsharma-indeed commented on #172
Yay!!! Thanks a bunch, @AdnoC. Appreciate it.

[2021-09-09 05:51] varivoda commented on #172
@AdnoC Thanks a lot!

Could you please clarify, who is responsible for deploying the new version to maven.central and when this might be done? Thanks!

[2021-09-09 06:00] AdnoC commented on #172
Releasing is done for all our integrations at once so it is a team effort. Unfortunately I can't say anything more than should be soon.

[2021-09-10 17:06] AdnoC commented on #174
This integration does not use custom rulesets, thus those checkboxes are marked incomplete.

[2021-09-16 22:18] straker opened #183 "4.3.3 error handling audit"
- [ ] finishRun error handling
  - [ ] asserts `createWindow` or `window.open` returns a valid handle
  - [ ] wraps `switchToWindow` in a try / catch
  - [ ] wraps call to private `finishRun` in try / catch with a message that points to the error handling doc
- [ ] Error handling doc

[2021-09-21 22:41] spokenbird opened #190 "RuntimeException finishRun failed"
Getting a runtime exception when attempting to upgrade to version 4.3.0.

Our project is here: https://github.com/codeforamerica/shiba

The issue can be recreated by cloning the project and running `./gradlew clean accessibilityTest` from the root directory.

Also we noticed that the help link in the error message appears to be dead. (https://github.com/dequelabs/axe-core-maven-html/error-handling

[2021-09-22 01:25] andrewedstrom commented on #170
This issue happens for us all the time and has caused our builds to become quite flakey on https://github.com/codeforamerica/shiba

[2021-09-22 07:46] padmavemulapati commented on #174
Validated

[2021-09-27 07:08] SantoshDeque commented on #172
Upgrade to axe-core@4.3.3 is completed

[2021-09-27 08:54] AdnoC commented on #190
Should be resolved by https://github.com/dequelabs/axe-core-maven-html/pull/191

[2021-10-25 08:32] sswapnika opened #193 "Axe unable to proceed for elements located in frame"
Product: <<axe-core | axe Extension | axe Linter>>

Expectation: Axe should work for elements that are in frame

Actual: Either element not found exception is thrown or stale element exception

Additional information:
Browser: Chrome
Axe Version: 4.3.1
Platform: Windows

Following is the code which I have used

AxeBuilder builder = new AxeBuilder();
System.out.println("Entered Accessibility");
Res

[2021-11-08 18:08] kawalbhatia opened #195 "Getting script timeout error when running for tags wcag21a and wcag21aa"
While running the script to evaluate page for tags wcag21a and wcag21aa, it displays the following error :
org.openqa.selenium.ScriptTimeoutException: script timeout (complete error trace below)

Here is the code used to run the tags:

AxeRunOptions runOptions = new AxeRunOptions();
    runOptions.setXPath(true);

    AxeBuilder builder = new AxeBuilder()
         .withTags(Arrays.asList("wcag21a"

[2022-01-31 15:20] michael-siek opened #197 "Upgrade to use axe-core 4.4"
Need to make sure that we upgrade to use axe-core 4.4

[2022-02-14 22:23] Zidious opened #200 "add Google Java Formatter as pre-commit hook"
Add [Google Java Formatter](https://github.com/google/google-java-format) as a pre-commit hook to keep styling consistent

[Google style guide](https://google.github.io/styleguide/javaguide.html)

[2022-02-25 19:28] tvtester opened #391 "Empty tab is opened and closed in browser in the analyzePost43x private method of AxeBuilder.java class"
Following method is opening empty tab in the browser at the code:  `String prevWindow = WebDriverExtensions.openAboutBlank(webDriver);` and `WebDriverExtensions.closeAboutBlank(webDriver, prevWindow);`

`private Results analyzePost43x(final WebDriver webDriver, final Object rawContextArg) {
    String rawOptionsArg = getOptions().equals("{}")
        ? AxeReporter.serialize(runOptions) : getOption

[2022-03-07 17:08] Zidious opened #203 "refactor repository into maven monorepo"
Refactor current repo to accept sub-modules:

[code]

[2022-03-09 18:39] Zidious commented on #200
no docs required

[2022-03-09 18:39] #200 closed

[2022-03-10 18:46] Zidious opened #205 "Research: Why our packages are not showing up on maven repository"
Research why our package(s) do not appear under certain keywords and list an out of date repository:

<img width="2681" alt="image" src="https://user-images.githubusercontent.com/41127686/157731869-7bf2f46e-78a5-42bd-b0bd-402edfdddc68.png">

Notice, the latest release was March 2019, and does not list our v4+ releases.

Searching our group `Deque` finds the correct maven package, but its not the f

[2022-03-14 14:15] Zidious opened #207 "add a sub-module `dequeUtilities` to monorepo"
**Why?**

Both Selenium and Playwright integrations use the same classes to map the JSON properties used in axe-core:

<img width="296" alt="image" src="https://user-images.githubusercontent.com/41127686/158190338-8d0efa58-d79d-407d-8cd7-6499e2fd284c.png">

Move the classes used in the both packages to a new module `dequeUtilities` which will import them as a dependency to same them having duplica

[2022-03-21 13:28] michael-siek commented on #171
Closing 4.4.0 is currently out for axe-core-maven-html please feel free to reopen if needed.

[2022-03-22 14:08] padmavemulapati opened #209 "Playwright: HelpURL' application name not appropriate"
On the newly implemented `Playwright-Java` integration for `axe-core-maven-html` ,
help url in axe-results is appearing different from other
Actual:
`"helpUrl":"https://dequeuniversity.com/rules/axe/4.4/color-contrast?application=**Playwright%20Java**"`
![image](https://user-images.githubusercontent.com/47409579/159500405-6f21d777-53c1-4dd4-8be8-ef38a95ba5f8.png)

Expected:
for axe-core-maven-html

[2022-03-22 14:11] padmavemulapati opened #210 "Playwright: add links to error-handling.md from README doc"
Once the documentation has been created for Playwright we need to add error handling  URL redirection when legacy code throws an error with finishRun()

[2022-03-22 14:19] #210 closed

[2022-03-22 14:52] padmavemulapati commented on #209
Issue fixed in 1https://github.com/dequelabs/axe-core-maven-html/pull/211` and verified.
Now seeing `application=PlaywrightJava` which is expected

[2022-03-22 14:52] #209 closed

[2022-03-22 14:54] padmavemulapati opened #212 "selenium: HelpURL' application name not appropriate"
Actual: `https://dequeuniversity.com/rules/axe/4.4/autocomplete-valid?**application=axeAPI**`

Expected: `application=SeleniumJava`

[2022-03-26 14:50] #183 closed

[2022-03-26 14:50] #174 closed

[2022-03-26 14:51] #172 closed

[2022-03-26 14:51] #197 closed

[2022-03-26 14:51] #203 closed

[2022-04-19 15:48] Zidious commented on #133
No docs required

[2022-04-19 15:49] Zidious commented on #137
Closing due to inactivity. Please re-open if this is still apparent on 4.4.1

[2022-04-19 15:49] #137 closed

[2022-04-19 17:22] Zidious commented on #149
Closing due to inactivity, please re-open is issue is apparent in version: 4.4.1

[2022-04-19 17:22] #149 closed

[2022-04-19 17:23] Zidious commented on #170
Closing due to inactivity, please re-open is issue is apparent in version: 4.4.1

[2022-04-19 17:23] #170 closed

[2022-04-19 17:24] Zidious commented on #190
Closing due to inactivity, please re-open is issue is apparent in version: 4.4.1

[2022-04-19 17:24] #190 closed

[2022-04-19 17:27] Zidious commented on #193
Closing due to inactivity, please re-open is issue is apparent in version: 4.4.1

[2022-04-19 17:27] #193 closed

[2022-04-19 17:27] Zidious commented on #195
Closing due to inactivity, please re-open is issue is apparent in version: 4.4.1

[2022-04-19 17:27] #195 closed

[2022-04-26 12:52] Zidious commented on #205
No longer needed.

[2022-04-26 12:52] #205 closed

[2022-05-02 23:14] data-enabler opened #226 "Is org.json actually used as a dependency?"
`org.json` is listed as a dependency for the Selenium library, but I don't see any references in the codebase.
The library seemed to work just fine (including JSON output) when I excluded it.

[2022-05-09 02:24] Zidious commented on #226
Hey @data-enabler,

Looking at this, it appears this may of been used previously and is not longer used and was just not removed. We will open a PR to get this removed.

Thank you for finding this!

[2022-07-03 20:06] Zidious commented on #226
closing, no docs required

[2022-07-03 20:06] #226 closed

[2022-09-16 10:16] pranesh517 opened #238 "[BUG] I am trying to use AxeBuilder for accessibility testing, its giving me dependency resolution issue"
I am trying to use AxeBuilder for accessibility testing and for that i added below gradle dependency:
implementation group: 'com.deque.html.axe-core', name: 'playwright', version: '4.4.1'

After running test with AxeResults axeResults = new AxeBuilder(page).analyze();
Getting below error:
Execution failed for task ':compileJava'.

Could not resolve all files for configuration ':compileClasspath'.

[2022-09-16 13:22] Zidious commented on #238
Hey @pranesh517,

Thank you for reporting this issue, we will investigate and get back to you as soon as possible.

[2022-09-17 01:38] Zidious commented on #238
I was able to replicate this issue using Gradle. Maven however it is able to locate the dependency without issues. Looking at the [maven2 repository ](https://repo.maven.apache.org/maven2/commons-codec/commons-codec/) with the `commons-codec` dependency: [version: 20041127.091804](https://repo.maven.apache.org/maven2/commons-codec/commons-codec/20041127.091804/commons-codec-20041127.091804.pom) sh

[2022-09-20 03:34] Ben-Waters commented on #238
Sounds great! This is also impacting us.

[2022-09-23 01:32] michael-siek opened #239 "update to use axe-core version 4.4.3"
We should upgrade both playwright and selenium to use the latest version of axe-core which is axe-core v4.4.3

[2022-09-28 07:05] padmavemulapati commented on #212
@Zidious , still seeing branding name as"axeAPI" -  `https://dequeuniversity.com/rules/axe/4.4/aria-required-attr?application=axeAPI` for selenium`
Valdiated in the latest develop branch code base(dated:27th sep 2022)

[2022-09-28 07:06] SantoshDeque commented on #239
Verified in latest "Develop" branch, axe-core version has been updated to v4.4.3 for playwright and selenium. PFA screenshots
1)Playwright:
<img width="1353" alt="Screenshot 2022-09-28 at 12 31 27 PM" src="https://user-images.githubusercontent.com/45222788/192711278-4073a79f-67fe-44ef-9ebf-ec2dca04dccf.png">

2)Selenium:
<img width="1361" alt="Screenshot 2022-09-28 at 12 34 42 PM" src="https://use

[2022-09-28 07:07] #239 closed

[2022-10-07 12:25] SantoshDeque commented on #238
Verified with 'playwright', version: '4.4.2' using Gradle and maven,  dependency issue is resolved. PFA screenshots
1)Using Gradle
<img width="791" alt="Screenshot 2022-10-07 at 5 35 22 PM" src="https://user-images.githubusercontent.com/45222788/194549509-94232f55-3f8b-42f0-93bc-c7655417c65f.png">

2)Using Maven
<img width="757" alt="Screenshot 2022-10-07 at 5 54 33 PM" src="https://user-images.gi

[2022-10-07 13:03] Zidious commented on #238
Hello all,

Closing this issue as the dependency issue is resolved.

Please let me know if you run into any other issues.

[2022-10-07 13:03] #238 closed

[2022-10-19 02:32] Zidious commented on #207
Ref: https://github.com/dequelabs/axe-core-maven-html/pull/252

[2022-10-25 17:04] straker opened #258 "Github Releases are being tagged incorrectly"
Our Github releases are getting tagged to the commit right before the release. This means our versions are one behind and changelog entry does not exist for that release. The [maven release](https://search.maven.org/artifact/com.deque.html.axe-core/selenium) looks to be correct.

Example: 4.4.2 release [changelog](https://github.com/dequelabs/axe-core-maven-html/blob/v4.4.2/CHANGELOG.md) and [pom

[2022-10-28 05:23] Tim-Cao opened #261 "Selenium Automated Testing cannot catch same violation with aXe devTools plugin"
**Description**
Manual Testing using [aXe devTools](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd?utm_source=deque.com&utm_medium=referral&utm_campaign=axe-devtools_pricing_free) with **WCAG 2.1 AA** standard and the **latest** axe-core to scan [this page](https://www.liferay.com/) can catch some accessibility violations

However, when automat

[2022-10-28 21:41] Zidious commented on #261
Hey @Tim-Cao,

I've investigated this and found a few things, within your Gradle file you are using a older version of our API [V4.3.1](https://github.com/Tim-Cao/seleniumproject/blob/master/build.gradle#L30) which utilises axe-core 4.3.1 vs the extension using axe-core 4.4.2.

I'd recommend to update to [v4.4.2 of our Selenium API ](https://search.maven.org/artifact/com.deque.html.axe-core/seleni

[2022-10-29 03:19] Tim-Cao commented on #261
Many thanks @Zidious. It works now.

[2022-10-29 03:19] #261 closed

[2022-11-04 03:40] stephenmathieson opened #264 "Codeowners?"
Who owns this repository? Who is able to review PRs/etc? Who should review them? A `.github/CODEOWNERS` file should be added to make this know and have GitHub auto-assign reviewers.

[2022-11-04 03:46] stephenmathieson opened #265 "Commit hook failing"
See https://github.com/dequelabs/axe-core-maven-html/actions/runs/3370430844/jobs/5591321483

[2022-11-07 01:42] Zidious commented on #264
Ref: https://github.com/dequelabs/axe-core-maven-html/pull/266

[2022-11-07 01:42] Zidious commented on #264
Closing - no docs required

[2022-11-07 01:42] #264 closed

[2022-11-16 17:26] Zidious commented on #265
Closing - no docs required

[2022-11-16 17:26] #265 closed